.App{
  padding: 20px;
  text-align: center;
}

.header span{
  color: #5f6fff;
}
p{
  font-size: 18px;
  font-weight: 600;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row img,.row span {
  width: 60px;
  margin: 10px 20px;
}
a{
  text-decoration: none;
  color: rgb(27, 27, 27);
}
.link{
  text-decoration: underline;
}